/*GLOBAL STYLES*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Rubik','Arial', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 22px;
    color:#4a4b4c;

}
img{
    
/* width: 100%; */
height: auto;
}
.container{
    width:100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.primaryBtn {
    font-family: 'Rubik','Arial', sans-serif;
    text-decoration: none;
    margin-left: 25px;
    background-color:#7296ec;
    line-height: 19px;
    border-radius:10px;
    padding:13px 20px;
    color: #fff;
}
.primaryBtn:active{
    opacity: 0.6;
}
.orange-btn {
background-color: #f78b3b;
border-radius:10px;
padding:13px 30px;
text-decoration: none ;
color: #fff;
font-weight: 500;
font-size: 20px;
line-height: 25px;
}
.orange-btn:hover{
    opacity: 0.8;
}
.orange-btn:active{
    opacity:0.6;
}
.button {
    border:none;
    outline: none;
    display: inline-block;
    cursor:pointer;
}

/*MAIN SECTION*/
.site-header-top {
    padding-top:30px;
    padding-bottom: 30px;
    background-color: #f6f6f6;
    margin-bottom: 10px;
}

.site-header__container {
    display: flex;
    align-items: center;

}
.site-header-logo {
    display: flex;
    cursor: pointer;
    text-decoration: none;
    padding:9px 6px;
    border-radius: 7px;
    margin-right: 35px;
    background-color: #f6f6f6;
}
.site-header-logo:active{
    opacity:0.6;
}
.site-header-logo__img {
    width: 264px;
    height:28px;
}
.currency-rate:first-child{
    margin-right: 10px;
} 
.currency-rate b{
    color:#2959ce;
}
.site-header-form {
    margin-left: auto;
}
.dite__header-form {
    font-size: 14px;
    color:#8d8d8d;
    padding:15px 15px 13px 41px;
    border:none;
    border-radius:60px;
    outline: none;
    width: 275px;
    background-image: url('../images/search.svg');
    background-repeat: no-repeat;
    background-position: 15px 15px;
    background-size: 20px;

}
.language-toggler {
    background-color: #dce6ff;
    border-radius: 39px;
    padding:3px;
}
.language-toggler-item {
    width: 30px;
    height:30px;
    color: #a6a6a6;
    border-radius: 50%;
    text-decoration: none;
    display: inline-block;
    text-align:center;
    line-height: -11px;
}
.language-toggler-active{
    background-color: #fff;
    color:#000;
}


/*NAVIGATION STYLE SECTION*/

.site-header-nav {
border-bottom:2px solid #d1d1d1;
padding-bottom:15px;
margin-bottom: 50px;
}
.site-header__nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    list-style: none;
}
.site-header_nav-list-item{
    margin-bottom: 5px;
    margin-top: 5px;
}
.site-header_nav-list-item:not(:last-child){
margin-right: 34.44px;
}
.site-header-nav-list-item__link {
    text-decoration: none;
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    font-weight:500;
    font-size: 18px;
    line-height: 21.33px;
    color:#7f7f7f;
}
.site-header-nav-list-item__link:active{
    opacity: 0.6;
}
.site-header-nav-list-item__link:hover{
    color:#2959ce;
}
/* /// NAVIGATION STYLE SECTION*/


/*ASIDE SECTION*/

.aside-header_aside {
margin-bottom: 50px;

}
.aside-header_aside-link{
display: flex;
text-decoration:none;
}
.aside-header_aside-img {
    width: 100%;
    max-width: 1200px;
    height:128px;
    border-radius:8px;
}

/*// ASIDE SECTION*/

.main {
    flex-grow: 1;
    }
    
    
/*article*/
.article{
    display:flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-bottom: -10px;
}
.article-card {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    width:393px;
    border-radius:15px;
    padding:20px 17px 15px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.article-card__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px;
}
.artice-card__title-link {
text-decoration: none;
    color: #000;  
}
.artice-card__title-link:hover{
opacity:0.8;
color:#7296ec;
}
.artice-card__title-link:active{
    opacity:0.6;
    }
.article-card_title-link-description {
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #4a4b4c;
margin-bottom: 15px;
}
.article-card-img {
margin-top: auto;
object-fit:cover;
margin-bottom: 15px;
border-radius:10px;
}
.article-card-bottom {
display: flex;
align-items:center;
}
.artice-card__bottom-icon {
margin-right: 10px;
border-radius:5px;
object-fit: cover;
}
.article-card-icon-description {
font-size: 12px;
line-height: 14.22px;
}


/*aside section*/

.main-section__aside {
max-width:1050px;
width:100%;
margin-left: auto;
margin-right: auto;
padding:24px 71px 24px 29px;
background-image:url(../images/Group\ 35\ 1.jpg);
border-radius:10px;
margin:60px auto;
display: flex;
align-items:center;
justify-content: space-between;
}
.aside__title {
width:404px;
font-weight: 600;
font-size: 20px;
line-height: 16px;
color:#000;
}
.-ntification-btn {

}

/* // aside section*/









footer{
    background-color:aqua;
}










/*font-family: 'Rubik', sans-serif;*/